.icon{
  width: 2.5em;
  height: 2.5em;
}

.icon:hover{
  width: 3em;
  height: 3em;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c49474;
  padding: 1.5em;
}

.icons{
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
}

* {
  font-family: 'Itim', cursive;
}
