.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60px;
}

.cat-fact-button {
  margin: 1vmin;
  padding: 5vmin;
  color: #c49474;
  background-color: #c4b1ac;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 0.1vmin solid #373619;
  border-radius: 0.5vmin;
  outline: none;
  cursor: pointer;
  /* width: 20px;
  height: 20px; */
}

