footer {
    background-color: #c49474;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;

}

.creator{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin: 0.25em;
}

.creator:hover{
    width: 4em;
    height: 4em;
}
