footer {
    background-color: #e2bf97;
    width: 100%;

}

.creator{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin: 0.25em;
}

.creator:hover{
    width: 4em;
    height: 4em;
}
