.newPosts {
	width: 500px;
	height: 200px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	margin: auto;
}

.newPostsContainer {
	padding: 12px;
	margin-bottom: 15px;
	margin-top: 15px;
}

.profilePicture {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 10px;
}

.newPostsTop {
	display: flex;
	align-items: center;
}

.newPostInput {
	border: none;
	width: 80%;
}

.newPostInput:focus {
	outline: none;
}

.newPostHr {
	margin: 20px;
}

.newPostsBottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.newPostsOptions {
	display: flex;
	margin-left: 20px;
}

.option {
	display: flex;
	align-items: center;
	margin-right: 15px;
	cursor: pointer;
}

.addPost {
	border: none;
	padding: 7px;
	border: 5px;
	font-weight: 900;
}

.icon {
	font-style: 18px;
	margin-right: 3px;
}

.newPostsText {
	margin-right: 5px;
	margin-left: 5px;
}

.postCreated{
	font-size: 20px;
	font-weight: 900;
}

/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 650px) {
	.newPostsContainer {
	width: 300px;
	height: 200px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	margin: auto;
	}
}  */

@media only screen and (max-width: 400px) {
	.newPostsContainer {
	width: 280px;
	height: 200px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	margin: auto;
	}
	.footer{
			background-color: #e2bf97;
			display: flex;
			justify-content: center;
			width: 100%;
			position: fixed;
			bottom: 0;
			margin: 0 auto;
			gap: 0.1em;
	}
} 